<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body class="profile">
    <%- include('partials/header') %>

   <div class="conteiner-fluid">
       <h4 class="form-group col-12"><%= title %> de <%= usuario.nombre %> <%= usuario.apellido %> </h4>
           
                <form action="/registro/edit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="row col-12">
                    
                    <div class="col-sm-12 col-md-4 col-lg-4">               
                            <div class="col-10">
                                <figure class="text-center">
                                    <img src="/images/users/<%= usuario.avatar %>" alt="" width="200px" height="200px"
                                    class="rounded-circle avatar">
                                </figure>
                                <input type="file" class="form-control" name="img">              
                            </div>               
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                
                                <input class="form-control" type="text" value="<%=usuario.nombre%>" name="nombre">
                                <input class="form-control" type="text" value="<%=usuario.apellido%>" name="apellido">
                                <input class="form-control" type="email" value="<%=usuario.email%>" name="email">
                                <input class="form-control" type="text" value="direccion <%=usuario.direccion%>" name="direccion">
                                <input class="form-control" type="number" value="telefono <%=usuario.telefono%>" name="telefono">
                            
                                <button class="btn btn-danger mr-2" type="reset">Cancelar</button>
                                <button class="btn btn-info" type="submit" name="id" value="">Editar</button>
                            </div>                                            
                        
                    </div>
                        
                </div>
            </form>
   </div>
    
    <%- include('partials/footer') %>
</body>
</html>