<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <% categorias.forEach(categoria => { %>
    <div class="titulo col-12" >
        <h1><a href="./categories/<%= categoria.id %>"><%= categoria.nombre %></a></h1>   
    </div>
    <div class="container">
        <section class="listadoProductos">
            <!--caja que contiene todos los productos de la ultima visita-->
            <div class="row productos">
                
                <% categoria.productos.forEach(producto => { %>
                   
                    <div class="producto col-sm-12 col-md-6 col-lg-3 box-image vl">
                      <a href="/products/detalle/<%= producto.id %> ">
                        <figure class="text-center">
                            <img  src="../../images/products/<%= (producto.fotos.split(','))[0] %> " alt="">
                        </figure>
                        </a>    
                      <h3 id="nombre"><%- producto.nombre %></h3>
                      <div class="price-box price-final_price" style="display: inline-flex;">
                      <strong><span style="color:  rgb(85, 6, 142);" class="price-container">$ <%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></span></strong><br>
                      <% if (producto.descuento != 0) { %>
                       <small> <span class="d-inline p-2 bg-success text-white" style="color: var(--color-celeste); margin-left: 3rem;" class="discount"><%- producto.descuento %>% OFF</span></small>
                        
                   
                    <% } %>
                    </div>
                      <p id="descripcion"><%- producto.descripcion %></p>

                      <div class="container-cart">
                        <div class="text-right align-top" >
                            <button type="submit " class="btn-hover color-5" >
                          <small class="text-muted "><a style="color: white;"class="container-cart" href="/carrito">Agregar al carrito <i class="fas fa-angle-double-right"></i><i style="color:  whitesmoke;" class="fas fa-cart-plus"></i></a></small></button>
                        </div>  
                        
                          </div>
                    </div>
                    <div class="editar">
                        <% if (typeof usuario != "undefined" && usuario.rol=="admin") { %>
                            <button class="btn-hover color-4"><a href="/products/show/<%= producto.id %>">Editar</a></button>
                        <% } %>                                
                    </div>
                  <% }) %> 
            </div>
            <!--finaliza el div.row-->
        </section>
    </div>   
    <% }) %>    

    <%- include('partials/footer') %>    
</body>
</html>