<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="container">
                <section class="listadoProductos">
                    <!--caja que contiene todos los productos de la ultima visita-->
                    <div class="row productos">

                        <!--caja que contiene el titulo de la sección-->
                        <div class="titulo col-12">
                            <h2>
                                Todos los productos
                            </h2>
                        </div>
                        
                        <% producto.forEach(producto => { %>
                           
                            <div class="producto col-sm-12 col-md-6 col-lg-3 box-image vl"> 
                              <a href="/products/detalle/<%= producto.id %> ">
                                <figure class="text-center">
                                    <img  src="../../images/products/<%- producto.fotos %> " alt="">
                                </figure>
                                </a>    
                              <h3 id="nombre"><%- producto.nombre %></h3>
                              <div class="price-box price-final_price" style="display: inline-flex;">
                              <strong><span style="color:  rgb(85, 6, 142);" class="price-container">$ <%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></span></strong><br>
                              <% if (producto.descuento != 0) { %>
                               <small> <span class="d-inline p-2 bg-success text-white" style="color: var(--color-celeste); margin-left: 3rem;" class="discount"><%- producto.descuento %>% OFF</span></small>
                                
                           
                            <% } %>
                            </div>
                              <p id="descripcion"><%- producto.descripcion %></p>

                              <div class="container-cart">
                              <div class="card-header text-right align-bottom" >
                                <small class="text-muted "><a style="color:  rgb(85, 6, 142);"class="container-cart" href="#">Agregar al carrito <i class="fas fa-angle-double-right"></i><i style="color:  rgb(85, 6, 142);" class="fas fa-cart-plus"></i></a></small>
                              </div>  
                              
                            </div>
                            </div>
                            <div class="editar">
                                <% if (typeof usuario != "undefined" && usuario.rol=="admin") { %>
                                    <button class="btn btn-warning"><a href="/products/show/<%= producto.id %>">Editar</a></button>
                                <% } %>                                
                            </div>
                          <% }) %> 
                    </div>
                    <!--finaliza el div.row-->
                </section>
            </div>





            <%- include('partials/footer') %>

    </body>

</html>