<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="container">
                <section class="listadoProductos">
                    <!--caja que contiene todos los productos de la ultima visita-->
                    <div class="row productos">

                        <!--caja que contiene el titulo de la sección-->
                        <div class="titulo col-12">
                            <h2>
                                Todos los productos
                            </h2>
                        </div>
                        
                        <% producto.forEach(producto => { %>
                            <div class="producto col-sm-12 col-md-6 col-lg-3">
                              <a href="./products/detalle/<%= producto.id %> "><img src="../../images/products/<%- producto.fotos %> " alt=""></a>    
                              <h3><%- producto.nombre %></h3>
                              <span>$ <%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></span><br>
                              <% if (producto.descuento != 0) { %>
                                <span><%- producto.descuento %>% OFF</span>
                                <% } %>
                      
                              <p><%- producto.descripcion %></p>
                              <a href="#">Agregar al carrito <i class="fas fa-angle-double-right"></i><i class="fas fa-cart-plus"></i></a>
                            </div>
                            <div class="editar">
                                <% if (typeof usuario != "undefined" && usuario.rol=="admin") { %>
                                    <button class="btn btn-warning"><a href="/products/show/<%= producto.id %>">Editar</a></button>
                                <% } %>                                
                            </div>
                          <% }) %> 
                    </div>
                    <!--finaliza el div.row-->
                </section>
            </div>





            <%- include('partials/footer') %>

    </body>

</html>