<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<script src="/javascripts/formEditarProdV.js"></script>
    <body id="productShow" >
        <%- include('partials/header') %>
            <div class="container">
                <section class="perfilUsuario">
                    <div class="row perfil">

                        <div class="titulo col-12">
                            <h2>
                                <%= producto.nombre %>
                            </h2>
                        </div>

                        <div class="contenido text-left">

                      
                            <div class="tab-content" id="myTabContent">
 
                                
                                <div class="" id="editar" role="tabpanel" aria-labelledby="home-tab">
                                    <form id="editarProd" action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <div class="row p-3">
                                            <div class="form-group col-12">
                                                <label for="">Nombre</label>
                                                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %> </small>
                                                <input id="nombreShow" class="form-control" type="text" value="<%= producto.nombre%>" name="nombre" required>
                                                <span id="errorNombreShow" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-md-4 col-xl-4 mt-3">
                                                <figure class="text-center">
                                                    <img src="/images/products/<%= producto.fotos %> " alt="" class="img-fluid">
                                                </figure>
                                                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.foto)?errors.foto.msg: "" %> </small>
                                                <input id="fotoEdit" type="file" class="form-control" name="fotos">
                                                <span id="errorFotoShow" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                                <label for="">Descripción</label>
                                                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.descripcion)?errors.descripcion.msg: "" %> </small>
                                                <textarea class="form-control" rows="7" name="descripcion" id="" required><%= producto.descripcion %></textarea>
                                               
                                                <div class="row">
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">Categoría</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.categoria)?errors.categoria.msg: "" %> </small>
                                                        <input id="categoriaShow" type="text" class="form-control" value="<%=producto.categoria%>" name="categoria" required>
                                                        <span id="errorCategoriaShow" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">Sub-Categoría</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.subcategoria)?errors.subcategoria.msg: "" %> </small>
                                                        <input id="subCategoriaShow" type="text" class="form-control" value="<%=producto.subcategoria%>" name="subcategoria" required>
                                                        <span id="errorSubcategoriaShow" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">Sección</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.seccion)?errors.seccion.msg: "" %> </small>
                                                        <input id="seccionShow" type="text" class="form-control" value="<%=producto.seccion%>" name="seccion" required>
                                                        <span id="errorSeccionShow" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">SKU</label>
                                                        <input id="skuShow"type="text" class="form-control" value="<%=producto.sku%>" name="sku" required>
                                                        <span id="errorSkuShow" class="text-danger"></span>
                                                    </div>
                                                    
                                                   
                                                    <div class="form-group col-6 col-lg-4">
                                                        <label for="">Precio</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %> </small>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">$</div>
                                                            </div>
                                                            <input id="precioShow" type="text" class="form-control" value="<%=producto.precio%>" name="precio" required>
                                                            <span id="errorPrecioShow" class="text-danger"></span>

                                                        </div>
                                                    </div>



                                                    <div class="col-6 col-lg-4">
                                                        <label for="">Descuento</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.descuento)?errors.descuento.msg: "" %> </small>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            
                                                            <input id="discountShow" type="text" class="form-control" value="<%=producto.descuento%>" name="descuento">
                                                            <span id="errorDiscountShow" class="text-danger"></span>
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">%</div>
                                                            </div>
                                                        </div>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                    

                                                        <button class="btn btn-danger mr-2" type="reset">Cancelar</button>
                                                        <button class="btn btn-info" type="submit" name="id" value="<%= producto.id %>">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-info" type="submit" name="id" value=""><i class="fas fa-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
            </div>




            <%- include('partials/footer') %>
    </body>

</html>