<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<script src="/javascripts/formCargaV.js"></script>
    <body id="productShow" >
        <%- include('partials/header') %>
            <div class="container">
                <section class="perfilUsuario">
                    <div class="row perfil">

                        <div class="titulo col-12">
                            <h2>
                                <%= producto.nombre %>
                            </h2>
                        </div>

                        <div class="contenido text-left">

                      
                            <div class="tab-content" id="myTabContent">
<<<<<<< HEAD

                                <div class="tab-pane fade <%= showDetail %> <%= activeDetail %> " id="detalle" role="tabpanel" aria-labelledby="profile-tab">

                                    <div class="row p-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <% if (producto.id>1) { %>
                                                        <a href="/products/show/<%- producto.id-1 %> " class="text-warning"><i class="fas fa-chevron-circle-left"></i></a>
                                                        <% } %>
                                                </div>
                                                <div class="col-10">
                                                    <h3 class="text-center">
                                                        <%= producto.nombre %>
                                                    </h3>
                                                </div>
                                                <div class="col-1">
                                                    <% if (producto.id < total) { %>
                                                        <a href="/products/show/<%- producto.id+1 %> " class="text-warning"><i class="fas fa-chevron-circle-right"></i></a>

                                                        <% } %>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-12 col-md-4 mt-3">
                                            <figure class="text-center">
                                                <img src="/images/products/<%= producto.fotos %> " alt="" class="img-fluid">
                                            </figure>
                                        </div>
                                        <div class="col-12 col-md-8 mt-3">
                                            <p>
                                                <%= producto.descripcion %>
                                            </p>
                                            <div class="row">
                                                <div class="col-12 col-lg-4">
                                                    <span><b>Categoría:</b> 
                                                       <%= producto.categoria %>
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <span><b>Precio:</b>  $
                                                    <%=producto.precio%>
                                                </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <span><b>Descuento:</b> 
                                                    <%=producto.descuento%>%
                                                </span>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
=======
<!---->
 
>>>>>>> e03fa739907204bb5f021486ad1ef93a368c2fa0
                                
                                <div class="" id="editar" role="tabpanel" aria-labelledby="home-tab">
                                    <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <div class="row p-3">
                                            <div class="form-group col-12">
                                                <label for="">Nombre</label>
                                                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %> </small>
                                                <input class="form-control" type="text" value="<%= producto.nombre%>" name="nombre">
                                            </div>
                                            <div class="col-12 col-md-4 col-xl-4 mt-3">
                                                <figure class="text-center">
                                                    <img src="/images/products/<%= producto.fotos %> " alt="" class="img-fluid">
                                                </figure>
                                                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.foto)?errors.foto.msg: "" %> </small>
                                                <input type="file" class="form-control" name="fotos">
                                            </div>
                                            <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                                <label for="">Descripción</label>
                                                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.descripcion)?errors.descripcion.msg: "" %> </small>
                                                <textarea class="form-control" rows="7" name="descripcion" id=""><%= producto.descripcion %></textarea>
                                               
                                                <div class="row">
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">Categoría</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.categoria)?errors.categoria.msg: "" %> </small>
                                                        <input type="text" class="form-control" value="<%=producto.categoria%>" name="categoria">
                                                    </div>
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">Sub-Categoría</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.subcategoria)?errors.subcategoria.msg: "" %> </small>
                                                        <input type="text" class="form-control" value="<%=producto.subcategoria%>" name="subcategoria">
                                                    </div>
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">Sección</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.seccion)?errors.seccion.msg: "" %> </small>
                                                        <input type="text" class="form-control" value="<%=producto.seccion%>" name="seccion">
                                                    </div>
                                                    <div class="form-group col-12 col-lg-4">
                                                        <label for="">SKU</label>
                                                        <input type="text" class="form-control" value="<%=producto.sku%>" name="sku">
                                                    </div>

                                                    <div class="form-group col-6 col-lg-4">
                                                        <label for="">Precio</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %> </small>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">$</div>
                                                            </div>
                                                            
                                                            <input type="text" class="form-control" value="<%=producto.precio%>" name="precio">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-4">
                                                        <label for="">Descuento</label>
                                                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.descuento)?errors.descuento.msg: "" %> </small>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            
                                                            <input type="text" class="form-control" value="<%=producto.descuento%>" name="descuento">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">%</div>
                                                            </div>
                                                        </div>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                    

                                                        <button class="btn btn-danger mr-2" type="reset">Cancelar</button>
                                                        <button class="btn btn-info" type="submit" name="id" value="<%= producto.id %>">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-info" type="submit" name="id" value=""><i class="fas fa-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
            </div>




            <%- include('partials/footer') %>
    </body>

</html>