<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
     <script src="/javascripts/profile.js"></script>
    <body class="profile">
    <%- include('partials/header') %>
   
   <div class="conteiner-fluid">
       <h4 class="form-group col-12">Perfil de <%= usuario.nombre %> <%= usuario.apellido %> </h4>
           
            <form action="/registro/edit/<%= usuario.id %>?_method=PUT" id="profile" method="POST" enctype="multipart/form-data">

                <div class="row col-12">
                    
                    <div class="col-sm-12 col-md-4 col-lg-4">               
                            <div class="col-10">
                                <figure class="text-center">
                                    <img src="/images/users/<%= usuario.avatar %>" alt="" width="200px" height="200px"
                                    class="rounded-circle avatar">
                                </figure>
                                <small id="errorsFormato" class="text-danger"><%= (typeof errors != 'undefined' && errors.formato)?errors.formato.msg: "" %> </small>
                                <input id="pavatar" type="file" value="<%= usuario.avatar %>" class="form-control" name="img">              
                            </div>               
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                
                                <input class="form-control" type="text" value="<%= (typeof old != 'undefined' && old.nombre)?old.nombre:usuario.nombre %>"
                                  id="pnombre" name="nombre" placeholder="">
                                <small id = "errorsNombre" class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %> </small>

                                <input class="form-control" type="text" value="<%= (typeof old != 'undefined' && old.apellido)?old.apellido:usuario.apellido %>" id="papellido" name="apellido" placeholder="apellido" %>">
                                <small id = "errorsApellido" class="text-danger"><%= (typeof errors != 'undefined' && errors.apellido)?errors.apellido.msg: "" %> </small>

                                <input class="form-control" id="DNI" type="number" value="<%= (typeof old != 'undefined' && old.dni)?old.dni:usuario.dni %>" name="dni" placeholder="DNI">
                                <small id = "errorsDNI" class="text-danger"><%= (typeof errors != 'undefined' && errors.dni)?errors.dni.msg: "" %> </small>

                                <input class="form-control" type="email" value="<%= (typeof old != 'undefined' && old.email)?old.email:usuario.email %>" id="pemail" name="email" placeholder="">
                                <small id = "errorsEmail" class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>

                                <input class="form-control" id="direccion" type="text" value="<%= (typeof old != 'undefined' && old.direccion)?old.direccion:usuario.direccion %>" name="direccion" placeholder="Dirección">
                                 <small id = "errorsDireccion" class="text-danger"><%= (typeof errors != 'undefined' && errors.direccion)?errors.direccion.msg: "" %> </small>

                                <input class="form-control" type="text" value="<%=usuario.ciudad%>" name="ciudad" placeholder="<%= (typeof errors != 'undefined' && errors.ciudad)?errors.ciudad.msg: "ciudad" %>">

                                <input class="form-control" type="text" value="<%=usuario.provincia%>" name="provincia" placeholder="<%= (typeof errors != 'undefined' && errors.provincia)?errors.provincia.msg: "provincia" %>">

                                <input class="form-control" id="telefono" type="number" value="<%= (typeof old != 'undefined' && old.telefono)?old.telefono:usuario.telefono %>" name="telefono" placeholder= "teléfono">
                                 <small id = "errorsTelefono" class="text-danger"><%= (typeof errors != 'undefined' && errors.telefono)?errors.telefono.msg: "" %> </small>
                            
                                <button class="btn btn-warning mr-2" type="reset">Cancelar</button>
                                <button class="btn btn-success" type="submit" name="id" value="">Editar</button>
                                
                                    
                            </div>                                            
                        
                    </div>
                        
                </div>
            <div style="text-align: right;">
            </form>
            <form action="/registro/delete/<%= usuario.id %>?_method=DELETE" method="POST">
               <button class="btn btn-danger" type="submit" name="id" value="">Eliminarme <i class="fas fa-trash"></i></button>
            </form>
            <% if (typeof usuario != "undefined" && usuario.rol=="admin") { %>
                <button class="btn btn-success"><a class="nav-link text-light" href="/registro/administrador">usuarios</a></button>
                                        
          <% } %>
            </div>
   </div>
    
    <%- include('partials/footer') %>
</body>
</html>